/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Kalnia+Glaze:wght@100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common style or utilities */
body{
    font-family: "Poppins", sans-serif;
    background-color: #F3F1FF;
}
.container {
    background-color: #FFFFFF;
    width: 870px;
    border-radius: 5px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 15px;
     
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*__________
top players style
_____________*/
.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    margin-bottom: 21px;
}
.player {
    display: flex;
    align-items: center;
}
.player img {
    height: 56px;
    width: 56px;
}
.player-name {
    margin-left: 16px;
    font-size: 18px;
}
hr {
    border: 1px solid #D1D1D1;
    width: 807px;
    margin-bottom: 21px;
}

.blog{
    display: flex;
    align-items: center;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a{
   text-decoration: none;
   font-size: 16px;
   color: #562EFF;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

/*------------------
 Course Style
 ---------------- */

 .top {
    background-color: #562EFF;
    height:80px;
    margin-bottom: 20px;
    display: flex;
    padding-left: 10%;
    padding-top: 30px;
 }
 .top img {
    width: 45px;
    height: 54px;
 }
 .idea {
    color: #FFFFFF;
    align-items: center;
    padding-left: 20px;
    font-size: 22px;
    padding-top: 7px;
 }
 .right {
    color: #FFFFFF;
    display: flex;
    padding-left: 50%;
    gap: 60px;
    padding-bottom: 15px;
    align-items: center;
 }
 .right img {
    width: 51px;
    height: 51px;
 }

 .courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
 }
 .course .course-banner img {
    width: 224px;
    height: 104;
 }
.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-star {
    color:#FFC014;
}
.review {
    color: #A2A2A2;
}
.course-duration {
    font-size: 15px;
    color: #FF4A60;
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 5px 10px;
}

footer {
    width: 100%;
}

footer p {
    color: #A2A2A2;
    text-align: center;
}
footer p a {
    text-decoration: none;
    color: #FF4A60;
}

/* mobile device */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .blogs, .players, .courses {
        grid-template-columns: repeat(1,1fr);
    }
    .blogs, .player{
        flex-direction: column;
    }
    .course {
        margin-bottom: 100px;
    }
}
@media screen and (min-width:688px) and (max-width:1500px){
    .container{
        width: 100%;
        background-color: #edd3d6;
    }
    .blogs, .players, .courses {
        grid-template-columns: repeat(2,1fr);
    }
    .blogs, .player{
        flex-direction: column;
    }
    .course {
        margin-bottom: 100px;
    }
}